* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #0020f4;
  display: flex;
  justify-content: space-between;
  padding: 27px 205px 270px 240px;
  width: 1920px;
  height: 388px;
}

.logo {
  max-width: 115px;
  height: 65px;
  object-fit: fill;
}

.nav-list {
  list-style: none;
  padding: 37px;
}

.nav-items {
  display: inline-block;
}

.list-item {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  margin-right: 18px;
}

.contact {
  color: #171717;
  background-color: #ffffff;
  font-weight: bold;
  border-radius: 28px;
  padding: 18px 36px;
}

.large-image {
  max-width: 1195px;
  width: 100%;
  height: 600px;
  object-fit: fill;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.images-div {
  text-align: center;
  margin-bottom: 60px;
}

.images {
  max-width: 219px;
  width: 100%;
  height: 219px;
  object-fit: fill;
  margin-right: 25px;
}

.text-div {
  max-width: 951px;
  margin: auto;
  font-size: 16px;
}

.text {
  margin-bottom: 18px;
}

.button-div {
  text-align: center;
  margin-top: 58px;
  margin-bottom: 180px;
}

.button {
  margin-top: 18px;
  background-color: #0020f4;
  color: #ffffff;
  padding: 18px 77px;
  border-radius: 28px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

main {
  margin-top: -173px;
}
